body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    /* Change here */
    gap: 20px;
    margin: 0 auto;
    max-width: 800px;
}

.grid-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}


/* Style for upload.html */

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-input {
    margin-bottom: 20px;
    padding: 10px;
}

.submit-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 24px;
    }
}