<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Summarize</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <h1 class="title">Upload a File to Summarize</h1>
        <h3>.docx .pdf .txt</h3>
        <form class="form" method="post" enctype="multipart/form-data">
            <div>
                <input class="file-input" type="file" name="file">
                <input class="submit-button" type="submit" value="Upload">
            </div>
        </form>
    </div>
</body>

</html>